@model BRTS.Web.Models.DashBoardViewModel    
@{
    ViewData["Title"] = "CustomerDashBoard";
    Layout = "~/Views/Shared/CustomerLayouts/_CustomerLayout.cshtml";

}

<h1>CustomerDashBoard</h1>

<style>
    /* Container */

    
    border-radius: 5px;
    }

    /* Headings */
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        text-align: center;
    }

    /* Tables */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f8f8f8;
    }

    /* Interactive Elements */
    tr:hover {
        background-color: #e5f5ff;
    }

</style>

<div style="margin:100px">
<h1 style="font-size: xx-large; text-align: center; margin:30px ">Customer DashBoard</h1>

<br />
<table>
    <caption style="font-size:xx-large">Trips List</caption>
    <thead>
        <tr>
            <th>TripId</th>
            <th>TripGoingFrom</th>
            <th>TripDestination</th>
            <th>StartDateAndTime</th>
            <th>EndDateAndTime</th>
            <th>TripName</th>
            <th>Book A Trip</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model.trips)
        {
            <script>
                var h = @trip.TripId 
            </script>
            <tr>
                <td>@trip.TripId</td> 
                <td>@trip.TripGoingFrom</td>
                <td>@trip.TripDestination</td>
                <td>@trip.StartDateAndTime</td>
                <td>@trip.EndDateAndTime</td>
                <td>@trip.TripName</td>
                <td> 
                    <form action="/Customer/BookAtrip" method="post">
                            <input type="hidden" name="TripId" value="@trip.TripId" />
                            <input type="hidden" name="id" value="@Model.id" />
                            <input type="submit" value="Book A Ticket">

                    </form>
                </td>
            </tr>
            

        }
    </tbody>



</table>
<br />
    <table>
        <caption style="font-size:xx-large">Booked Trips</caption>
        <thead>
            <tr>
                <th>TripId</th>
                <th>TripGoingFrom</th>
                <th>TripDestination</th>
                <th>StartDateAndTime</th>
                <th>EndDateAndTime</th>
                <th>TripName</th>
                <th>Drop A Ticket</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model.bookedTrips)
            {
                
                <tr>
                    <td>@trip.TripId</td>
                    <td>@trip.TripGoingFrom</td>
                    <td>@trip.TripDestination</td>
                    <td>@trip.StartDateAndTime</td>
                    <td>@trip.EndDateAndTime</td>
                    <td>@trip.TripName</td>
                    <td>
                        <form action="/Customer/DeleteAtrip" method="post">
                            <input type="hidden" name="TripId" value="@trip.TripId" />
                            <input type="hidden" name="id" value="@Model.id" />
                            <input type="submit" value="Drop A Ticket">

                        </form>
                    </td>
                    
                </tr>


            }
            
        </tbody>



    </table>

</div>
